extends layout

block content
  md-toolbar
    .md-toolbar-tools
      h1 ATXplorer - 311 Data Explorer
  md-content(layout="row" layout-md="column")
    div(flex="50" flex-md="100", flex-order-md="2")
      atx-map(results="results.hits.hits", search="search(location)")
    form(flex="50",  flex-md="100", flex-order-md="1" layout="column" layout-padding)
      md-input-container
        label Report Description
        input(type="text", ng-model="request.description")
      md-input-container
        label Street
        input(type="text", ng-model="request.street")
      div(layout="row")
        md-input-container(flex=50)
          label Zip
          input(type="text", ng-model="request.zip")
        md-input-container(flex=50)
          label Council District
          md-select(ng-model="request.district", ng-change="search()")
            md-option(ng-value="null") Any
            md-option(ng-repeat="d in districts") {{d}}
      //- div(layout="row")
      //-   md-datepicker(type="date", ng-model="request.reported_date" md-placeholder="Created Date", flex=50)
      //-   md-datepicker(type="date", ng-model="request.reported_date" md-placeholder="Closed Date" flex=50)
      div(layout="row")
        md-button(ng-click="search()").md-primary Search
        md-button(ng-click="request = {}; search()").md-warn Clear
      md-divider

